body{
    font-family:Arial;
    text-align:center;
}

input,button{
    padding:8px;
    margin:5px;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th,td{
    border:1px solid black;
    padding:8px;
}
