body
{
    font-family: Arial;
    background-color: #f4f4f4;
}

.container
{
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

input
{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.product
{
    border: 1px solid gray;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#status
{
    font-weight: bold;
    color: blue;
}
