body
{
    font-family: Arial;
    background-color: #f4f4f4;
}

.container
{
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input
{
    padding: 8px;
    margin: 5px;
}

button
{
    padding: 8px 12px;
    margin: 5px;
}

table
{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

#message
{
    margin-top: 10px;
    font-weight: bold;
}

.success
{
    color: green;
}

.error
{
    color: red;
}
