body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

h2 {
  text-align: center;
}

.product-form input, select {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#bill {
  margin-top: 20px;
  color: green;
}
