body
{
    font-family: Arial;
    background-color: #f4f4f4;
}

.container
{
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button
{
    padding: 8px 15px;
}

#feedback
{
    margin-top: 10px;
    font-weight: bold;
}

.available
{
    color: green;
}

.taken
{
    color: red;
}

.loading
{
    color: blue;
}
