body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h2 {
  text-align: center;
}

.controls {
  text-align: center;
  margin-bottom: 10px;
}

button {
  padding: 6px 12px;
  margin: 5px;
}

#warning {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

#activityLog {
  background: white;
  padding: 15px;
  list-style: none;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
}

#activityLog li {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
